
[submodule "evm/lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std

[submodule "evm/lib/solady"]
	path = lib/solady
	url = https://github.com/Vectorized/solady
	
[submodule "evm/lib/openzeppelin-contracts"]
	path = evm/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "evm/lib/layerzero-devtools"]
	path = evm/lib/layerzero-devtools
	url = https://github.com/LayerZero-Labs/devtools.git
[submodule "evm/lib/layerzero-v2"]
	path = evm/lib/layerzero-v2
	url = https://github.com/LayerZero-Labs/LayerZero-v2.git
